# File sensitif
backend/serviceAccountKey.json

# Direktori dependensi
node_modules/

# File build dan cache
frontend/dist/
frontend/.vite/
backend/build/

# File log dan sementara
*.log
.DS_Store
*.swp
*.swo

# File konfigurasi lokal
frontend/.env.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# File cache editor
.vscode/
.idea/
.vite
.firebaserc
firebase.json
storage.rules